html, body{
    margin: 0;
    padding: 0;

    font-family:  Inter, sans-serif;

    background-color: #121212;
}

.container{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}



.cards{
    display: flex;
    
}

.vencendo{
    transform: scale(1.1);
    border: 0.2rem solid #22ff00;
    box-shadow: 0px 0px 24px 1px rgba(34,255,0,0.2);  
}
.vencendo .avatar{
    filter: grayscale(0%) !important ; 
   
}



.card-body{
    text-align: center;
}

.card{
    width: 20vw;
    margin: 2rem;

    background-color: #303030;
    color: white;

 

   
}

.card-avatar{
    display: flex;
    justify-content: center;
    align-items: center;

   padding-top: 2rem;
}

.card-avatar img{
    width: 70%;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: 0.5s;

    box-shadow: 0px 0px 24px 1px rgba(0, 0, 0, 0.2);  
}



.info{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pvap{
    font-size: 5rem;
    font-weight: 700;
    
    margin: 1.2rem;
}

.partido-icon{
    height: 2rem;
    margin-right: 0.5rem;
}

.partido{
    display: flex;
    justify-content: center;
    align-items: center;
}

.votos-validos{
    background-color: #202020;
    width: 100%;
    border-radius: 8px;



}

.votos-validos p{
    margin-top: 0.5rem;
    font-weight: 600;
    margin-bottom: 0;
}

.votos-validos span{
    
    font-size: 2rem;
    
}

@media (max-width: 600px)
{
    html,body{
        width: 100%;
        height: 100%;
    }

    .container{
        width: 100%;
        height: 100%;
    }

    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100vh;
        overflow: auto;
    }

    .card{
        width: 90%;
        margin: 0;
        margin-bottom: 2rem;
    }

    .vencendo{
        transform: scale(1);
    }

}